<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Bienvenidos</h1>
        <p class="lead">Este es un examen realizado para la empresa Duventus.</p>
    </section>
    <div class="row">
      
    </div>
</main>